//@charset "UTF-8";
// 引入重置样式
@import "./reset.scss";

@import "./variables.module.scss";
@import "./mixin.scss";
@import "./transition.scss";
//@import './element-ui.scss';
@import "./sidebar.scss";
//@import './btn.scss';

// 对Element Ui 部分样式进行改写
@import "./element.scss";

.pd-20 {
  padding: 20px;
}

.mt-20 {
  margin-top: 20px;
}

/*ICONFONT*/
[class*="yu-icon-"],
[class^="yu-icon-"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
}
.el-form-item__error {
  margin-top: 2px;
}

.el-form-item--default {
  display: flex;
  align-content: center;
}
.el-form-error {
  color: rgb(214, 27, 27);
  font-size: 10px;
  line-height: 18px;
}